header li{
    display:inline-block;
    margin:0 30px;
}
.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
header{
    text-align: center;
    
    padding: 1px 0;
}
header a{
    color:rgb(66, 65, 65);
    text-decoration: none;
    font-family: Fantasy;
    font-size: 22px;
}
a:hover{
    color: rgb(57, 114, 179);
}
nav#menu li{
    transition: background-color 1s;
}